doctype html
html(lang="es")
	head
		meta(charset='UTF-8')
		title Portafolio desarrollador web y diseñador gráfico
		script(type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	body
		include ./includes/header.jade
		nav
		main
			section.trabajos
			section.habilidades
			section.experiencias
			section.contacto
		include ./includes/footer.jade
		script(type='text/javascript' src="js/script_jquery.js")
			
